body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(180deg, 
                                    rgba(0, 0, 0, 0.3) 0%, 
                                    rgba(0, 0, 0, 0.8) 100%),
                                    url(fundo.jpg);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

fieldset {
    border: 2px solid rgb(25, 25, 25);
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 10px;
}

button { 
    margin: 0px 10px 0px 0px;
}

button:hover{
    background-color: rgb(27, 26, 26);
    color: white;
    transition: background-color 0.5s, color 0.5;
}

button:active{
    color:rgb(143, 65, 65);
}

#left {
    width: 400px;
    height: 145px;
    left: 30%;
    margin: -130px 0 0 -210px;
    padding: 10px 10px 10px 15px;
    position: absolute;
    top: 50%;
}

#right {
    width: 400px;
    height: 400px;
    right: 20%;
    margin: -130px 0 0 -210px;
    padding: 10px;
    position: absolute;
    overflow-y: auto;
    top: 32%;
}

b {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

a:active {
    color: red;
}
